<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
    <link rel="stylesheet" href="/css/eventSuccess.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
    <div class="mainBody">
        <lottie-player id="tickMark" src="/img/icons/icon.json" mode="normal" background="transparent" speed="1"
            style="width: 300px; height: 300px;" autoplay></lottie-player>
        <div class="mainBox" id="mainBox">
            <div class="logo" id="csalogobox">
                <img id="csalogo" src="/img/favicon/favicon.avif" alt="CSA Logo">
            </div>
            <div class="heading" id="mainBoxHeading">
                <h1>Registration Successful!</h1>
            </div>
            <div class="textBox" id="mainBoxText">
                <p>Thank you for Registering!<br>Please follow our <a
                            class="insta" href="https://www.instagram.com/upescsa/?igshid=MzRlODBiNWFlZA%3D%3D"
                            target="_blank">Instagram</a> for more updates!</p>
                <a class="backToHome" id="backToHome">Back To Home</a>
            </div>
        </div>
    </div>

    <script src="/js/tick.js"></script>
    <script src="/js/eventSuccess.js"></script>

</body>

</html>