<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReUnite HomePage</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <h1>REUNITE</h1>
    </header>
    <div id="container"></div>
    <div id="image-container"></div>
    <a href="http://localhost:4000/upload">
        <div class="addButton">
            <p>ADD</p>
        </div>
    </a>
    <script src="/js/main.js"></script>
</body>

</html>